<!--Navbar items-->
<ul class="navbar-nav ms-auto">
    
   
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle  @@if (context.page === 'pages') {active}" href="#" role="button" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">Faq
      </a>
      <div class="dropdown-menu">
        <div class="dropend">
          <a class="dropdown-item" href="#">Home</a>

        <a class="dropdown-item" href="#">Faq</a>
        <a class="dropdown-item" href="#">Contact</a>
       
      </div>
    </li>
   
   
  </ul>